:root {
  --data-color-white: rgb(255, 255, 255);
  --input-main-color: #0e0e52;
  --search-location-dimensions: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Georgia, Times, "Times New Roman", serif;
}

main {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1rem;
  width: 100vw;
  height: max(350px, 50vh);
  background-color: rgb(86, 176, 255);
}

/* Backgrounds that depend on the weather shown */
.clear {
  background-image: url(backgrounds/clearsky.jpg);
}
.clouds {
  background-image: url(backgrounds/cloudy.jpg);
}
.rain {
  background-image: url(backgrounds/rainy.jpg);
}

/**/

h1,
#weather,
.details {
  color: var(--data-color-white);
}

#temperature {
  color: var(--data-color-white);
  font-size: 5rem;
}

.details {
  font-size: 1.5rem;
}

form {
  position: absolute;
  bottom: 1rem;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

#location-input {
  padding: 6px;
  height: var(--search-location-dimensions);
  background-color: rgba(255, 255, 255);
  border: 1px solid rgb(142, 142, 142);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(55, 55, 55);
}

#location-input:focus {
  outline: none;
  border-color: var(--input-main-color);
}

#submit-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--search-location-dimensions);
  height: var(--search-location-dimensions);
  margin-right: -0.5px;
  border: 1px solid var(--input-main-color);
  background-color: var(--input-main-color);
  cursor: pointer;
}

#submit-location img {
  height: 70%;
}

/* Forecast section  */
section#forecast {
  display: flex;
  overflow: scroll;
}

.forecast-info {
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 1rem;
  border: 1px solid black;
}

.forecast-day {
  margin-bottom: 6px;
  text-align: center;
  font-size: 1rem;
}

.forecast-info-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.forecast-temp {
  font-size: 2.3rem;
}
